@font-face {
  font-family: Nasa;
  src: url(../fonts/NasalizationRg-Regular\ 400.ttf)
}

@font-face {
  font-family: Geometria;
  src: url(../fonts/Geometria.ttf)
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(86deg, rgb(9, 27, 41) 40%, rgba(14, 78, 145, 0.8) 73%, rgba(31, 121, 213, 0.5) 100%), url("img/background.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
}

h1 {
  font-family: Geometria;
  padding-top: 60px;
  font-size: 50px;
  font-weight: 200;
  line-height: 1.2;
  text-align: left;
}

h2 {
  font-family: Nasa;
  padding-bottom: 60px;
  font-size: 60px;
  font-weight: 200;
  line-height: 1.2;
  text-align: left;
}

h4 {
  font-family: Geometria;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
}

h5 {
    font-family: Nasa;
    font-size: 24px;
    padding-right: 20px;
}

.imagem {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.email-icon {
  width: 400px;
  margin-left: 100px;
  margin-top: 0px;
}

.titulo p {
  text-align: left;
  font-weight: 200;
  font-size: 18px;
  margin-top: -10px;
}

.logo {
  margin-left: 20px;
  background-color: #142b3b;
  width: 220px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.logo:hover {
  border: 1px solid #142b3b;
  transition: all .4s ease-in-out;
  transform: scale(1.05);
}

.empresas div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.empresas img {
  max-width: 120px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.titulo-espaco {
  margin-right: 80px;
}

.rodape {
  text-align: right;
  padding: 20px;
  padding-top: 80px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  font-size: 62.5%;

}

@media only screen and (max-width: 800px) {
  html {
    font-size: 57%;
  }
}

body {
  background-color: #142b3b;
  color: #fff;
  padding: 8rem;
  background-image: url("../img/blue-green-glow.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

.titulo-formulario {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-weight: 300;
  padding-bottom: 40px;
  padding-left: 50px;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  font-family: Geometria;
  position: fixed;
  top: 0;
  left: 20;
  width: 100%;
  z-index: -20;
}

.titulo-formulario h3 {
  margin: 0; /* Remova a margem padrão do h3 para garantir que ele não cause desalinhamento */
}

.titulo-formulario h5 {
  margin: 0;
}

/* Estilos para o menu de navegação */
.navbar {
  position: fixed; /* Tornar o menu de navegação fixo no topo */
  top: 10px; /* Alinhar o menu com um espaço de 10 pixels de padding-top */
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center; /* Centralizar o texto no menu */
  padding: 20px 0; /* Adicionar um espaçamento interno */
}

/* Estilos para os itens de menu */
.navbar ul {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff; /* Cor do texto do link - você pode alterar a cor conforme necessário */
  font-size: 16px; /* Aumentar o tamanho da fonte conforme necessário */
}

.navbar ul li a:hover {
  color: #10ACE9; /* Cor mais escura ao passar o mouse */
}

/* Estilos para o dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1; /* Aumente o z-index para que o dropdown apareça na frente de outros elementos */
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1000; /* Aumente o z-index do dropdown para que ele apareça na frente de outros elementos */
  text-align: left;
  top: 100%; /* Posicione o dropdown abaixo do item de menu */
  left: 0; /* Alinhe o dropdown à esquerda */
}

.dropdown-content a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333; /* Cor do texto do link do dropdown */
}

.dropdown:hover .dropdown-content {
  display: block;
}

