@font-face {
  font-family: Nasa;
  src: url(../fonts/NasalizationRg-Regular\ 400.ttf)
}

@font-face {
  font-family: Geometria;
  src: url(../fonts/Geometria.ttf)
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(86deg, rgb(9, 27, 41) 40%, rgba(14, 78, 145, 0.8) 73%, rgba(31, 121, 213, 0.5) 100%), url("img/background.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-family: "Geometria", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
}

h1 {
  font-family: Geometria;
  padding-top: 60px;
  font-size: 50px;
  font-weight: 200;
  line-height: 1.2;
  text-align: left;
}

h2 {
  font-family: Nasa;
  padding-bottom: 60px;
  font-size: 60px;
  font-weight: 200;
  line-height: 1.2;
  text-align: left;
}

.colunas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-formulario {
  color: #ffffff;
  font-weight: 300;
  padding-bottom: 50px;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  font-family: Geometria;
}

.aviso {
  font-size: 14px;
  padding-top: 10px;
  color: #ffffff;
  font-family: Geometria;
}

input {
  height: 30px;
  width: 350px;
  margin-top: 5px;
  border-radius: 8px;
  padding-left: 10px;
  color: black;
  border: 0.3px solid #0e4e91;
  font-family: Geometria;
}

input:hover {
  border: 0.4px solid #85bffc;
  transition: all .4s ease-in-out;
  transform: scale(1.01);
}

input:focus {
  background-color: #b5c6e4;
}

::placeholder {
  color: black;
  font-size: 15px;
  font-family: Geometria;
}

.assinatura-final {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 5px 5px 5px 5px;
  margin-left: 70px;
  font-family: Geometria;
}

/* .btn-copiar {
  background: linear-gradient(356deg, #6cc5e4 0%, rgba(14, 78, 145, 1) 73%, rgb(7, 43, 78) 100%);
  color: #ffffff;
  border: 0.4px;
  border-radius: 10px;
  width: 360px;
  height: 40px;
  letter-spacing: -1px;
  font-family: Geometria;
} */

.btn-copiar:hover {
  cursor: pointer;
  transition: all .4s ease-in-out;
  transform: scale(1.01);
}

.areaDemo {
  padding-top: 15px;
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

h4 {
  font-family: Geometria;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 5em;
  height: 2.5em;
}

/* Hide default HTML checkbox */
.switch .cb {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #373737;
  border-radius: .1em;
  transition: .4s;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  box-shadow: -.3em 0 0 0 #373737,-.3em .3em 0 0 #373737,.3em 0 0 0 #373737,.3em .3em 0 0 #373737,0 .3em 0 0 #373737;
}

.toggle > .left {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: #373737;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.left::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center left;
  transform: rotateY(90deg);
}

.left::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.toggle > .right {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: rgb(206, 206, 206);
  right: 1px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transform: rotateX(10deg) rotateY(-45deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center right;
  transform: rotateY(-90deg);
}

.right::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.switch input:checked + .toggle > .left {
  transform: rotateX(10deg) rotateY(45deg);
  color: rgb(206, 206, 206);
}

.switch input:checked + .toggle > .right {
  transform: rotateX(10deg) rotateY(0deg);
  color: #487bdb;
}

body {
  background-color: #142b3b;
  color: #fff;
  margin: 0;
  padding: 0;
  background-image: url("/img/blue-green-glow.png");
  background-attachment: fixed; /* A imagem permanece fixa ao rolar */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; /* Cobrir todo o espaço disponível */
}

@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

.titulo-espaco {
  margin-right: 80px;
}

.rodape {
  text-align: right;
  padding: 20px;
  padding-top: 80px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}