<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Gerador de Assinaturas - Stratus Cloud</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
      <meta
          name="description"
          content="Stratus Cloud"
        />
        <link rel="icon" href="../img/Logo1.png" />
</head>
<body>
  <body>
    <section class="container">
      <div class="titulo container">
        <div class="titulo-espaco">
          <h1> e-SignMail Generator</h1>
          <h2>stratus cloud</h2>
          <p> Selecione a Empresa que Deseja. </p>
        </div>
        <div>
          <img class="email-icon" src="../img/Messages-bro.png" alt="Email Icon Principal">
        </div>
      </div>
    </section>
    <section class="container empresas">
      <div class="logo">
        <a href="assinatura-stratuscloud.html"><img src="../img/Logo1.png" alt="Logo Stratus">
      </div>
      <!-- <div class="logo">
        <a href="assinatura-stratuscloud.html"><img src="img/Logo2.png" alt="Logo Slice">
      </div> -->
      <div class="logo">
        <a href="assinatura-sapu.html"><img src="../img/Logo3.png" alt="Logo Sapu">
      </div>
    </section>
  </body>
</html>