<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>e-SignMail Generator - Stratus Cloud</title>
  <link rel="stylesheet" type="text/css" href="../CSS/style.css">
      <meta
          name="description"
          content="Stratus Cloud"
        />
        <link rel="icon" href="../img/Logo1.png" />
</head>
  <body>
    <section class="container">
      <div class="titulo container">
        <div class="titulo-espaco">
          <h1> e-SignMail Generator</h1>
          <h2>stratus cloud</h2>
          <p> Selecione a Empresa que Deseja. </p>
        </div>
        <div>
          <img class="email-icon" src="../img/Messages-bro.png" alt="Email Icon Principal">
        </div>
      </div>
    </section>
    <section class="container empresas">
      <div class="logo">
        <div class="empresasmain">
        <a href="../views/sign-stratuscloud.html"><img src="https://fcfueap.stripocdn.email/content/guids/CABINET_1f16d133319294c326929ebb25e1b9e54ee23ae1a6d6f218aa0d97a4858c2b35/images/sem_titulo1_TRV.png" alt="Stratus Cloud">
      </div>
    </div>
      <div class="logo">
        <a href="../views/sign-sapu.html"><img src="../img/Logo3.png" alt="Logo Sapu">
      </div>
    </section>
  </body>
</html>